---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="min-h-screen relative bg-doha-20">
        <div class="lg:mx-20 px-4 py-14">
            <div class="grid lg:grid-cols-3 gap-12 items-center">
                <div class="space-y-8 lg:col-span-2">
                    <h1 class="text-4xl lg:text-[42px] leading-tight">
                        <span class="text-doha-50 font-extrabold">Menapaki Tanah Marapu,</span>
                        <br/>
                        <span class="text-black font-extrabold">Merajut Harap yang Selalu Baru</span>
                    </h1>
                    
                    <div class="flex flex-wrap lg:w-[720px] justify-between gap-3 text-md">
                        <span class="border-2 leading-none font-medium px-4 py-1 bg-transparent rounded-full text-doha-100 border-doha-100">Potensi lokal</span>
                        <span class="border-2 leading-none font-medium px-4 py-1 bg-transparent rounded-full text-doha-100 border-doha-100">Pertanian</span>
                        <span class="border-2 leading-none font-medium px-4 py-1 bg-transparent rounded-full text-doha-100 border-doha-100">Pendidikan</span>
                        <span class="border-2 leading-none font-medium px-4 py-1 bg-transparent rounded-full text-doha-100 border-doha-100">Kesehatan</span>
                        <span class="border-2 leading-none font-medium px-4 py-1 bg-transparent rounded-full text-doha-100 border-doha-100">Ekowisata Kreatif</span>
                    </div>
                </div>
                
                <div class="lg:flex lg:justify-end">
                    <img src="/logo.svg" alt="Logo Doha Laboya Barat" class="lg:col-span-1 h-48">
                </div>
            </div>
        </div>
        <div class="relative z-10 flex lg:flex-row lg:gap-10 lg:mx-20 px-4 py-8 justify-between">
            <div class="">
                <img src="/pantai_watukaka.png" alt="Pantai Watukaka" class="rounded-2xl shadow-2xl">
            </div>
            <div class="bg-doha-100 rounded-xl text-doha-20 py-13 pl-13 pr-20">
                <div class="mb-8">
                    <p class="font-bold lg:text-4xl p-2">829</p>
                    <p class="lg:text-4xl p-2">Potensi UMKM</p>
                </div>
                <div class="mb-8">
                    <p class="font-bold lg:text-4xl p-2">829</p>
                    <p class="lg:text-4xl p-2">Lokasi Wisata</p>
                </div>
                <div>
                    <p class="font-bold lg:text-4xl p-2">130</p>
                    <p class="lg:text-4xl p-2">Program Kerja</p>
                </div>
            </div>
        </div>
        <div class="w-full relative -top-40 -z-0 h-96 bg-doha-50"></div>
    </section>
    <section class="min-h-screen relative -top-30 bg-doha-20">
        <div class="lg:mx-20 px-4 pt-14">
            <p class="text-[20px] font-[400] text-doha-50 relative pl-16">
                <span class="absolute left-0 top-1/2 w-12 h-[1px] bg-doha-50 transform -translate-y-1/2"></span>
                Seputar Tim
            </p>
            <div class="font-extrabold text-[42px] mt-6 mb-12">
                <h1 class="text-black">Doha</h1>
                <h1 class="text-doha-50">Laboya Barat</h1>
            </div>
            <div class="flex justify-center">
                <img src="/foto_tim.png" alt="Foto Tim KKN Doha Laboya Barat">
            </div>
            <div class="text-center mt-9">
                <h2 class="text-doha-50 font-bold lg:text-[28px]">
                    Tema Besar Tim
                </h2>
                <p class="text-black lg:text-2xl font-[400] py-2">Optimalisasi Potensi Lokal Berkelanjutan melalui Penguatan Pertanian, Pendidikan, Kesehatan, dan Ekowisata Kreatif Berbasis Masyarakat untuk Mewujudkan Kemandirian</p>
            </div>
        </div>
    </section>
    <div class="lg:w-[120%] lg:-left-[10%] -top-30 relative overflow-x-hidden">
        <img src="/divider.svg" alt="divider"  class="w-full">
    </div>
    <section class="lg:mx-20 px-4 py-14 grid grid-cols-2 min-h-screen relative -top-30 bg-doha-20">
        <div class="col-span-1">

        </div>
        <div class="col-span-1">
            <div>
                <h2 class="text-[#171616] text-[42px] font-bold leading-[100%]">Mengenal</h2>
                <h2 class="text-[#171616] text-[42px] font-bold leading-normal"> <span class="text-doha-50">Desa Gaura</span> dan <span class=" text-doha-100">Desa Wetana</span></h2>
            </div>
            <article class="mt-6">
                <p class="text-2xl text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </article>
        </div>
    </section>


</Layout>