---
import './src/styles/global.css';
import Footer from '../components/Footer.astro';
import Sponsor from '../components/Sponsor.astro';
---

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doha Laboya Barat</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <img src="/logo_dark.svg" alt="Doha Laboya Barat Logo" class="logo-img">
                <span class="logo-text">Doha Laboya Barat</span>
            </div>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="/" class="nav-link">Beranda</a>
                </li>
                <li class="nav-item">
                    <a href="/proker" class="nav-link">Program Kerja</a>
                </li>
                <li class="nav-item">
                    <a href="/gaura" class="nav-link">Gaura</a>
                </li>
                <li class="nav-item">
                    <a href="/wetang" class="nav-link">Wetana</a>
                </li>
                <li class="nav-item">
                    <a href="/berita" class="nav-link">Berita</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <main>
        <slot />
    </main>
    <Sponsor />
    <Footer />
</body>
</html>